<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660825363076-78mt432800p5nvfmvsfmbu7sc5etpf31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660825363076-78mt432800p5nvfmvsfmbu7sc5etpf31</string>
	<key>API_KEY</key>
	<string>AIzaSyCcyOCXfQWKjMDrg68VdjyImDx0L1nfcWo</string>
	<key>GCM_SENDER_ID</key>
	<string>660825363076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nano-group-eight.Beat</string>
	<key>PROJECT_ID</key>
	<string>beat-apple-acad</string>
	<key>STORAGE_BUCKET</key>
	<string>beat-apple-acad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660825363076:ios:6c4113cc68d7971673a8d1</string>
</dict>
</plist>